# Node.js
node_modules/
dist/
.cache/
*.log
yarn.lock
npm-debug.log*

# Rust
/target/
/src-tauri/target/
/src-tauri/Cargo.lock
/.cargo/

# Tauri
/src-tauri/.tauri-build/

# Output directories
/public/build/
/build/
/out/
/dist/
/src/.parcel-cache/
/src/.next/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-error.log

# Miscellaneous
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
.idea/
*.egg-info/
Pipfile
Pipfile.lock
.mypy_cache/
.pytest_cache/
*.cover

# PyInstaller
/build/
/dist/
/*.spec

# Output directories
/public/build/
/build/
/out/
/dist/
/src/.parcel-cache/
/src/.next/
